<div class="row">     
    <div class="col-md-12">           
        <br>           
            <h2>Departments</h2>           
        <hr /> 
        <p>
            {{#unless departments}}
                <div class="col-md-12 text-center">             
                    <strong>{{message}}</strong> 
                </div> 
            {{else}}
                <table class="table-responsive" >
                    <thead>
                            <!--th>Index</th-->
                            <th>Department Number</th>
                            <th>Department Name</th>       
                    </thead>
                    <tbody>
                            {{#each departments}}
                                    <!--div-->
                                        <tr>
                                            <!--td>{{@index}}</td-->
                                            <!--td>{{departmentId}}</td-->
                                            <td style ="color:rgb(37, 7, 231);text-decoration: underline;" onclick="location.href='http://localhost:8080/department/' + {{departmentId}}">{{departmentId}}</td> 
                                            <!--td>{{departmentName}}</td-->
                                            <td style ="color:rgb(1, 22, 10);text-decoration: underline;" onclick="location.href='http://localhost:8080/employees?department=' + {{departmentId}}">{{departmentName}}</td> 
                                        </tr>                            
                                    <!--/div-->
                                {{/each}}
                    </tbody>
                </table>
            {{/unless}}
        </p> 
    </div> 
</div> 